# Logs
logs/
*.log

# Cache
.eslintcache
.idea
.npm
.vscode
.yarnclean

# Directories
node_modules/
lib/
build*/
coverage/
dts/
dist/
.cache/
.turbo/

# Configs
*.tsbuildinfo
webpack.config.js
junit.xml
TEST-RESULTS.xml

# Sublime Text
*.sublime-project
*.sublime-workspace
