# Logs
logs/
*.log

# Cache
.eslintcache
.idea
.npm
.vscode
.yarnclean

# Directories
node_modules/
lib/
build*/
coverage/
dts/
dist/
.cache/
.turbo/

# Configs
*.tsbuildinfo
webpack.config.js
.npmrc
junit.xml
TEST-RESULTS.xml

# Sublime Text
*.sublime-project
*.sublime-workspace

# yarn@>=2

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
